body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #F4F7F9;
}

.Menu {
    color: darkslateblue;
    font-size: xx-large;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    position: relative;
    z-index: 1;
    top: -180px;
}

p {
    color: black;
    font-weight: bold;
    position: absolute;
    margin: -17px 0 0 0;
    font-size: medium;
}

.Hero {
    height: 12vh;
    z-index: 10;
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    background: radial-gradient(circle at top right, #0f2b36, #0a101d);
    position: relative;
    color: white;
    font-family: 'Inter', sans-serif;
}

.Topbar {
    margin-top: -29px;
    margin-left: 250px;
    z-index: 1;
    width: 100%;
    padding: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    background-color: #F4F7F9;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.container-cards {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 20px 20px 20px 270px;
    gap: 20px;
    flex-wrap: wrap;
}

.Barra {
    width: 1600px;
    height: 50px;
    text-align: left;
    background-color: #E8E8E8;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

.itens {
    height: 150px;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-left: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;

}

.Box-container {
    width: 130px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin-top: 15px;
}

p, h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

label {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.filtros {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.campo-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Poppins', sans-serif;
}

.campo-data label {
    font-size: 14px;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: start;
}

.campo-data input[type="date"] {
    padding: 10px 12px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.campo-data input[type="date"]:focus {
    outline: none;
    border-color: #4a6cf7;
    box-shadow: 0 0 0 3px rgba(74, 108, 247, 0.2);
}

.campo-data input[type="date"]:hover {
    border-color: #888;
}

.Tipo-bar {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px;
    font-family: 'Poppins', sans-serif;
}

.Tipo-transacao {
    display: flex;
    width: 200px;
    gap: 5px;
    font-family: 'Poppins', sans-serif;
}

.Tipo-bar label {
    font-size: 14px;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: start;
}

.Crud-tabela {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    width: 100%;
    max-width: 1630px;
    margin-top: 10px;
    padding-right: 20px;
    box-sizing: border-box;
}

.Editar-tabela, .Excluir-tabela, .Ações {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 200px;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
}


select {
    padding: 10px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    transition: border-color 0.2s;
}

option {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

option:hover {
    background-color: #f0f0f0;
}

.Filtrar {
    text-decoration: none;
    background-color: steelblue;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 40px;
    width: 200px;
}

.Filtrar:hover {
    background-color: #CBD5F5;
    transform: translateY(-2px);
}

.Adicionar {
    text-decoration: none;
    background-color: green;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 40px;
    width: 200px;
}

.Adicionar:hover {
    background-color: #CBD5F5;
    transform: translateY(-2px);
}

.Excluir {
    text-decoration: none;
    background-color: firebrick;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 40px;
    width: 200px;
}

.Excluir:hover {
    background-color: #CBD5F5;
    transform: translateY(-2px);
}

.Editar {
    text-decoration: none;
    background-color: #0f2b36;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 40px;
    width: 200px;
}

.Editar:hover {
    background-color: #CBD5F5;
    transform: translateY(-2px);
}

.Pop-up-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.Pop-up-conteudo {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    height: auto;
}

.Pop-up-conteudo h3 {
    color: green;
    display: block;
    font-family: 'Inter', sans-serif;
    justify-content: flex-start;
    font-weight: bold;
    margin: 7px 7px;
}

.Pop-up-container.show {
    display: flex;
}

.Linha {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.Linha > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Input-transacao,
.Card-Transacao select {
    width: 100%;
    height: 38px;
    border-radius: 8px;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.Card-Transacao select:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

input:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Adicionar-container {
    display: flex;
    justify-content: flex-end;
    margin: 40px 22px;
}

.Adicionar {
    text-decoration: none;
    background-color: green;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 40px;
    width: 200px;
}

.Adicionar:hover {
    background-color: #CBD5F5;
    transform: translateY(-2px);
}

.Cancelar-container {
    display: flex;
    justify-content: flex-start;
    margin: -80px 22px;
}

.Cancelar {
    text-decoration: none;
    background-color: white;
    font-family: 'Inter', sans-serif;
    color: steelblue;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 40px;
    width: 200px;
}

.Cancelar:hover {
    background-color: silver;
    transform: translateY(-2px);
}

.container-cards {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 20px 20px 20px 270px;
    gap: 20px;
    flex-wrap: wrap;
}

.Card-Transacao {
    width: 460px;
    min-height: auto;
    background-color: #f2f2f2;
    padding: 15px;
}

.Card-Transacao label {
    font-size: 14px;
    margin-bottom: 4px;
    text-align: left;
}

.Botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.Tabela {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 1630px;
    height: auto;
    min-height: 100px;
    margin-bottom: auto;
    border-collapse: collapse;
    display: table;
}

th{
    color:black;
    background: white;

}
table tr:nth-child(2n+1) td{
    background: #f2f2f2;
}
table.collapsed{
    border-collapse: collapse;
    border:1px solid black;
}

.Tabela th, .Tabela td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.Tabela thead th {
    background-color: #f8f9fa;
    font-weight: bold;
    position: sticky;
    top: 0;
}

.Tabela tbody tr.selecionada td {
    background-color: #CBD5F5 !important;
    cursor: pointer;
}

.Tabela tbody tr:hover td {
    background-color: #f0f0f0;
    cursor: pointer;
}

.container-cards > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.Secao {
    height: 100vh;
    z-index: 5;
    width: 250px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    border-right: 2px solid #ccc;
}

.Botao-container {
    display: flex;
    gap: 30px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
}

.Botao {
    text-decoration: none;
    background-color: #F4F7F9;
    font-family: 'Inter', sans-serif;
    color: black;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 200px;
    top: -200px;
    transition: all 0.3s ease;
}

.Botao:hover {
    background-color: #CBD5F5;
    transform: translateY(-2px);
}

.Sair {
    text-decoration: none;
    background-color: white;
    font-family: 'Inter', sans-serif;
    color: darkred;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 200px;
    top: 200px;
    transition: all 0.3s ease;
}

.Sair:hover {
    background-color: silver;
    transform: translateY(-2px);
}

.Icone {
    width: 30px;
    height: 30px;
    padding: 13px;
}