body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #F4F7F9;
}

.Menu {
    color: darkslateblue;
    font-size: xx-large;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    position: relative;
    z-index: 1;
    top: -180px;
}

p {
    color: black;
    font-weight: bold;
    position: absolute;
    margin: -17px 0 0 0;
    font-size: medium;
}

h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

p, h3, label {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.Hero {
    height: 12vh;
    z-index: 10;
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    background: radial-gradient(circle at top right, #0f2b36, #0a101d);
    position: relative;
    color: white;
    font-family: 'Inter', sans-serif;
}

.Topbar {
    margin-top: -29px;
    margin-left: 250px;
    z-index: 1;
    width: 100%;
    padding: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    background-color: #F4F7F9;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.Secao {
    height: 100vh;
    z-index: 0;
    width: 250px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    border-right: 2px solid #ccc;
}

.Botao-container {
    display: flex;
    gap: 30px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
}

.Botao {
    text-decoration: none;
    background-color: #F4F7F9;
    font-family: 'Inter', sans-serif;
    color: black;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 200px;
    top: -200px;
    transition: all 0.3s ease;
}

.Botao:hover {
    background-color: #CBD5F5;
    transform: translateY(-2px);
}

.container-cards {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 20px 20px 20px 270px;
    gap: 20px;
    flex-wrap: wrap;
}

.Card {
    width: 700px;
    height: 280px;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-left: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #f2f2f2;
}

.Card-Perfis {
    width: 840px;
    height: 280px;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-left: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #f2f2f2;
}

.Card-Perfil {
    width: 1700px;
    min-height: 340px;
    height: auto;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-left: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #f2f2f2;
}

.Textos {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin: 10px 7px;
}

.Confirmar-label {
    display: flex;
    flex-direction: column;
    margin: -42px -180px;
}

.Ocupacao-label {
    display: flex;
    flex-direction: column;
    margin: -42px -110px;
}

.Email {
    display: block;
    flex-direction: row;
    font-weight: bold;
}

.Confirmar {
    display: block;
    flex-direction: row;
    font-weight: bold;
    margin: -10px 7px 0 0;
}

.Campo {
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    margin: -10px 7px 0 0;
}

::placeholder {
    color: darkslategrey;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    opacity: 0.5;
}

input {
    width: 300px;
    height: 25px;
    border-radius: 8px;
    padding: 5px;
    margin: -18px 7px;
}

.Input-email {
    width: 665px;
    height: 25px;
    border-radius: 8px;
    padding: 5px;
    margin: -18px 7px;
}

.Input-perfil {
    width: 760px;
    height: 25px;
    border-radius: 8px;
    padding: 5px;
    margin: -18px 7px;
}

input:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Atualizar-container {
    display: flex;
    justify-content: flex-end;
    margin: 40px 22px;
}

.Atualizar {
    text-decoration: none;
    background-color: slateblue;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 40px;
    width: 200px;
}

.Atualizar:hover {
    background-color: #CBD5F5;
    transform: translateY(-2px);
}

.Gerenciar {
    text-decoration: none;
    background-color: slateblue;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    padding: 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-right: -50px;
}

.Gerenciar:hover {
    background-color: #CBD5F5;
    transform: translateY(-2px);
}

.Excluir-container {
    display: flex;
    justify-content: flex-start;
    margin: -80px 22px;
}

.Excluir {
    text-decoration: none;
    background-color: firebrick;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 40px;
    width: 200px;
}

.Excluir:hover {
    background-color: silver;
    transform: translateY(-2px);
}

.CPF {
    display: flex;
    flex-direction: column;
    margin: 10px 7px;
}

.Linha {
    display: flex;
    gap: 20px;
}

.Tabela-Container {
    display: flex;
    justify-content: center;
}

.Tabela {
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 100px;
}

th{
    color:black;
    background: white;

}
table tr:nth-child(2n+1) td{
    background: #f2f2f2;
}
table.collapsed{
    border-collapse: collapse;
    border:1px solid black;
}

.Sair {
    text-decoration: none;
    background-color: white;
    font-family: 'Inter', sans-serif;
    color: darkred;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 200px;
    top: 200px;
    transition: all 0.3s ease;
}

.Sair:hover {
    background-color: silver;
    transform: translateY(-2px);
}

.Icone {
    width: 30px;
    height: 30px;
    padding: 13px;
}